.navbar .navbar-brand {
    color: #2a9fd6;
}

.navbar-inverse .navbar-nav > li > a {
    color: #2a9fd6;
}
/*Crappy default override of navbar container
to allow using container-fluid. */
.navbar > .container {
    width: auto;
}